@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap%27');

*{
  padding:  0;
  margin:  0;
}

.wrapper{
  background-image: url("../bgimg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.navbar{
  height: 60px;
  width:  100%;
  background:  rgba(0, 0, 0,0.4);
  background-color: #14082F;
  border: .2px solid #A79FE8;
  border-left: none;
  border-right: none;
  border-top: none;
}


.navbar ul{
  float:  right;
  margin-right: 80px;
}

.navbar ul li{
  list-style: none;
  margin: 0 15px;
  display: inline-block;
  line-height: 61px;
}

.navbar ul li a{
  text-decoration: none;
  color:  ghostwhite;
  font-size: 22px;
  padding: 15px 13px;
  font-family: 'Didact Gothic', sans-serif;
  transition: .4s;
  text-shadow: mediumpurple 0 -2px;
}

.navbar ul li a.enabled,
.navbar ul li a:hover{
  background: #37076D;
  border-radius: 2px;
}

nav img{
  float: left;
  height: 60px;
  margin-left: 30px;
  margin-top: 0px;
}

.wrapper .center{
  position:  absolute;
  top: 32%;
  left: 27%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  user-select: none;
}

body{
    background-image: url('purple_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    font-family: 'Didact Gothic', sans-serif;
}

h1 {
    color: white;
    font-family: 'Didact Gothic', sans-serif;
}

.faq-heading{
    border-bottom: #777;
    padding: 20px 60px;
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
}
.hr-line{
  width: 60%;
  margin: auto;
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}
.faq-body{
    margin: auto;
    /* text-align: center; */
   width: 50%; 
   padding: auto;
   
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: #F9F9F9;
    color: black;
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    background-color: midnightblue;
    display: none;
    overflow: hidden;
}
.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

h2 {
text-align: center;
color: white;
font-family: 'Didact Gothic', sans-serif;

}

p {
  color: white;
}

a{
  color: white;
}