@import url('https: //fonts.googleapis.com/css?family=Roboto:700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');


*{
	padding:  0;
	margin:  0;
}

.wrapper{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvSaK7pWwvy2VLNJhC84ve3-5Wal4ZrVI1m--6wXkSp_zn4JouTeq0nrWvSBr3NwwIASQ&usqp=CAU.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
    color: #FFFFFF;
}
.navbar{
	height: 60px;
	width:  100%;
	background:  rgba(0, 0, 0,0.4);
	background-color: #14082F;
	border: .2px solid #A79FE8;
	border-left: none;
	border-right: none;
	border-top: none;
}


.navbar ul{
	float:  right;
	margin-right: 80px;
}

.navbar ul li{
	list-style: none;
	margin: 0 15px;
	display: inline-block;
	line-height: 61px;
}

.navbar ul li a{
	text-decoration: none;
	color:  ghostwhite;
	font-size: 22px;
	padding: 15px 13px;
	font-family: 'Didact Gothic', sans-serif;
	transition: .4s;
	text-shadow: mediumpurple 0 -2px;
}

.navbar ul li a.active,
.navbar ul li a:hover{
	background: #37076D;
	border-radius: 2px;
}

nav img{
	float: left;
	height: 60px;
	margin-left: 30px;
	margin-top: 0px;
}

.wrapper .center{
	position:  absolute;
	top: 32%;
	left: 27%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
}




* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 180px; 
	font-family: 'Didact Gothic', sans-serif;
	background-color: indigo
  }
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.h1 {
	font-family: 'Didact Gothic', sans-serif;

}
.h2{
	font-family: 'Didact Gothic', sans-serif;
}
.p{
	font-family: 'Didact Gothic', sans-serif;
}
.h3{
	font-family: 'Didact Gothic', sans-serif;
}
.ul{
	font-family: 'Didact Gothic', sans-serif;
}