*{
	padding:  0;
	margin:  0;
}

.wrapper{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvSaK7pWwvy2VLNJhC84ve3-5Wal4ZrVI1m--6wXkSp_zn4JouTeq0nrWvSBr3NwwIASQ&usqp=CAU.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
    color: #FFFFFF;
}
.navbar{
	height: 60px;
	width:  100%;
	background:  rgba(0, 0, 0,0.4);
	background-color: #14082F;
	border: .2px solid #A79FE8;
	border-left: none;
	border-right: none;
	border-top: none;
}


.navbar ul{
	float:  right;
	margin-right: 80px;
}

.navbar ul li{
	list-style: none;
	margin: 0 15px;
	display: inline-block;
	line-height: 61px;
}

.navbar ul li a{
	text-decoration: none;
	color:  ghostwhite;
	font-size: 22px;
	padding: 15px 13px;
	font-family: 'Didact Gothic', sans-serif;
	transition: .4s;
	text-shadow: mediumpurple 0 -2px;
}

.navbar ul li a.active,
.navbar ul li a:hover{
	background: #37076D;
	border-radius: 2px;
}

nav img{
	float: left;
	height: 80px;
	margin-left: 50px;
	margin-top: 140px;
}

.wrapper .center{
	position:  absolute;
	top: 32%;
	left: 27%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
}

.center h1{
	color:  ghostwhite;
	font-size: 65px;
	font-weight: bold;
	width: 900px;
	text-align: center;
	text-shadow: 0 0 50px #998EF9;
	text-shadow: 1px 1px 2px black, 0 0 1em #A79FE8, 0 0 0.2em #A79FE8;


}

.center h3{
	color:  white;
	font-size: 50px;
	font-weight: bold;
	width: 880px;
	margin-top: 10px;
	text-align: center;
	font-family: 'Didact Gothic', sans-serif;
}



.mainPageButton{
	display: block;
	margin: 0 auto;
	height: 40px;
	background-color: black;
	width: 140px;
	border-radius: 20%;
	border: 2px solid #A79FE8;
	font-size: 20px;
	color: ghostwhite;
	font-weight: 500;
	font-family: 'Didact Gothic', sans-serif;
	text-shadow: mediumpurple 0 -2.5px;
	transition: 0.4s;
}
* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 155px; 
  }
.row:after {
    content: "";
    display: table;
    clear: both;
  }